@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Fraunces:ital,opsz,wght@0,9..144,300;0,9..144,700;0,9..144,900;1,9..144,400&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #0a0a0f;
  color: #fff;
  overflow: hidden;
  font-family: "DM Mono", monospace;
}
